black==26.3.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
flake8==7.3.0
idna==3.11
isort==8.0.1
librt==0.8.1
mypy==1.19.1
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
platformdirs==4.9.4
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.32.5
six==1.17.0
urllib3==2.6.3
openpyxl==3.1.5
pytest==9.0.2

pip~=26.0
typing_extensions~=4.15.0
mypy_extensions~=1.1.0
et_xmlfile~=2.0.0